* {
    margin: 0 auto;
    box-sizing: border-box;
}

button {
    color: #fff !important;
    background: #fd6802;
    height: 60px;
    width: 190px;
    border-radius: 30px 0px 30px 0px !important;
    transition-duration: 2s;

}


button:hover {
    background: #2e2d2d;
    color: #fff;
    border: 1px solid #fd6802;

}



html{
    font-size: 10px;
}




/* nav  */


.nav-top {
    /* width: 100%; */
    background-color: #282828f5;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;
}

.first1{
    width: 50%;
    display: flex;
    color: #fff;
}

.first1 a{
    color: #fff;
}

.first2 {
    text-align: end;
    width: 50%;
    color: #fff;
}

.first2 i {
    padding: 5px;
}

.email{
    width: 30%;
}

.phone{
    width: 70%;
}



.nav-top {
    font-size: 17px;
}


.email {
    display: flex;
}



/* nav-bottom */




.one ul li a {
    color: #000;
}

.one ul li {
    padding: 15px;

}




.active1 a {
    background-color: #fd6802;
    color: #fff !important;
    border-radius: 25px 0px 25px 0px;
}


.one ul li a:hover {
    background-color: #fd6802;
    color: #fff;
    border-radius: 25px 0px 25px 0px;
}

.navbar-toggle {
    background-color: #393939 !important;
    border-radius: 10px 0px 10px 0px !important;
}


.navbar-toggle .icon-bar {
    background-color: white;
}





/* nav end */




/* first-start */

.first{
    box-shadow: inset 0 0 0 2000px rgba(34, 34, 34, 0.4);
    width: 100%;
    background-image: url(../image/about\ 1st.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 120px 0px 100px 200px;
    font-family: "Raleway", sans-serif;
}


.first h1::before{
    background-color: #fd6802;
    content: "";
    height: 37px;
    top: 7px;
    position: absolute;
    width: 7px;
    left: -15px;
}


.first h1{
    position: relative;
    font-size: 4.8rem;
    font-weight: 700;
    /* padding-bottom: 10px; */
}


.first span{
    color: #fcbf02;
    font-size: 30px;
    padding: 0px 5px 0px 5pxC ;
}

/* first end */



.lastt{
    margin-bottom: 100px;
}


.last{
   text-align: center;
   font-family: "Raleway", sans-serif;
   margin-top: 150px;
   margin-bottom: 150px;
}

.last h1{
    color: #000;
    padding-bottom: 30px;
    font-size: 4.5rem;
}

.last h4{
    color: #999999;
    line-height: 2;
}


.one h2{
    font-weight: 600;
}

.one i{
    color: #000;
    font-size: 40px;
}

.one{
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: #00000021 1px 1px 10px 1px;
}

.one span{
    line-height: 2;
    color: #999999;
}

.one span b{
    color: #000000bb;
    font-weight: 100;
}

.one h2{
    color: #fd6802;
}





/* footer  */


.footer {
    background-color: #1f1f1f;
    color: #666666;
    padding: 50px;
    text-align: center;
    /* margin-bottom: 100px; */
}



.footer span {
    color: #fff;
}



/* footer end */









@media only screen and (max-width:1200px) {

    .email {
        width: 40%;
    }

    .phone {
        width: 60%;
    }

}



@media only screen and (max-width:992px) {

    .overlay {
        width: 94%;
    }

    .img {
        margin-bottom: 10px;
    }

}



@media only screen and (max-width:768px) {


    .first1 {
        width: 100%;
    }

    .first2 {
        width: 100%;
        text-align: center;
    }

    .email {
        width: 100% !important;
        padding-left: 180px;
    }

    .phone {
        width: 100%;
    }

}






@media only screen and (max-width:576px) {

    .email {
        width: 100%;
        padding-left: 80px;
    }

    .phone {
        width: 80%;
    }

    .first {
        padding: 120px 0px 100px 50px;
    }

    .one{
        margin-bottom: 20px;
    }

}



@media only screen and (max-width:420px) {

    .email {
        width: 100%;
        padding-left: 0px;
    }

    .phone {
        width: 60%;
    }

    .first {
        padding: 120px 0px 100px 50px;
    }


}


@media only screen and (max-width:371px) {

    .email {
        width: 100%;
        padding-left: 0px;
    }

    .phone {
        width: 70%;
    }

}